/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  margin-inline: auto;
  font-family: var(--main-font);
  background-color: #bbb;
  font-size: 18px;
  background-image: 
    repeating-linear-gradient(#d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom,#e7e7e7 0.01%,#1a1a1a 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  margin: var(--header-margin) 0 ;
  display: flex;
  padding: var(--header-padding) 0;
  max-width: 700px;
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  border: 2px solid var(--border-color);
}

.header-title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-family: var(--accent-font);
  text-transform: uppercase;
}

.header-subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-family: var(--accent-font);
  text-transform: uppercase;
}

/* main */

.main__section {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
}

.content_section {
  background-color: var(--bg-color);
  position: relative;
  border: 2px solid var(--border-color);
  z-index: 1;
}

.content_section .post-title {
  font-weight: 700;
  border-bottom: none;
  padding: 4px 10px 6px;
}

.bus-image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  object-position: right;
}

.photo {
  z-index: 1;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.card-label {
  display: block;
  position: absolute;
  padding-top: 25px;
  right: 13px;
  padding-left: auto;
  font-family: var(--accent-font);
  font-size: 14px;
  margin-bottom: 8px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color), 1px 0 var(--bg-color), 0 -1px var(--bg-color);
}

@supports (-webkit-text-stroke: 1px var(--bg-color)) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
} 

.post-content {
  padding: var(--text-gap);
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
}

.post-text:first-child {
  padding-bottom: 27px;
}

.like {
  display: flex;
  padding-top: var(--text-gap);
  justify-content: end;
  gap: 12px;
}

.card__like-button {
  display: flex;
  height: 38px;
  width: 130px;
  border: 2px solid var(--border-color);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 90%;
  font-family: var(--accent-font);
}

.button {
  background-color: var(--bg-color);
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible:not(.card__icon-button) {
  box-shadow: 2px 2px 0px 0px #000;
  outline: none;
}

/* photos filters */

.sprint_i-clean .bus-image {
  filter: grayscale(80%);
}

.sprint_what-if-not .bus-image{
  filter: hue-rotate(25deg) contrast(200%);
}

.sprint_to-ideal .bus-image{
  filter: hue-rotate(45deg);
}

.sprint_who-near .bus-image{
  filter: invert(90%);
}

.sprint_short-cuts .bus-image {
  filter: saturate(50%) grayscale(50%);

}

.sprint_hands-down .bus-image {
  filter: contrast(150%) blur(10px);
}

.sprint_now-here .bus-image {
  filter: hue-rotate(90deg) saturate(80%);
}

/* dialog */

.floppy-icon {
  max-width: 39px;
  min-width: 39px;
}

.save-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin: 0 auto var(--dialog-bottom);
  width: 306px;
  height: 84px;
  border: 2px solid var(--border-color);
}

.text-button {
  font-family: var(--accent-font);
  font-size: 14px;
}

.dialog[open] {
  padding: 30px 42px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border-color);
}

.dialog-title {
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 150%;
  text-transform: uppercase;
  height: 63px;
  width: 257px;
}

.dialog-button {
  height: 38px;
  width: 257px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

@media (min-width: 376px) {
  .save-button {
    flex-direction: row;
    width: 335px;
    height: 55px;
  }

  .dialog {
    padding: 30px 30px;
  }
  
  .dialog-title {
    width: 293px;
  }

  .dialog-button {
    width: 293px;
  }

  .card-label {
  right: 25px;
  }
}